/* Start varibles  */
:root {
    --main-color:#19C8FA;
    --sec-color:#1F2021;
    --back-color:#0F748F;
}
/* End varibles  */
/* start globals */
@font-face {
    font-family: 'Open-Sans';
    src: url('../fonts/OpenSans-VariableFont_wdth\,wght.ttf');
}
* {
    font-family: "Open-Sans";
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
    /* overflow-x: hidden; */
}
.sec-color {
    background-color: var(--sec-color);
}
/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
.container {
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
    position: relative;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: white;
}
.title {
    width: 100%;
    text-align: center;
    padding: 100px;
    color: var(--sec-color);
    position: relative;
}
.title h2 {
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 0.5px;
    padding-bottom: 20px;
}
.title .line {
    width: 200px;
    height: 2px;
    background-color: var(--sec-color);
    opacity: 0.9;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.title .line::before {
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 2px solid var(--sec-color);
}
.title p {
    margin: 40px auto;   
    opacity: 0.6;
}

/* End globals */

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .container .logo img {
    width: 150px;
    color: white;
    padding: 10px 0;
}

header .container .nav {
    width: calc(70% + 16px);
}
header .container .nav ul {
    display: flex;
    justify-content: space-between;
    color: white;
}
header .container .nav ul li:not(:last-child){
    width: calc(100% / 6 - 10px);
    padding: 5px 0;
}
header .container .nav ul li:last-child {
    padding-top: 5px;
    width: 16px;
    height: 16px;
}


header .container .nav ul li:hover a,
header .container .nav ul li:hover {
    color: var(--main-color);
    position: relative;
    transition: 0.2s;
}
header .container .nav ul li:hover a::before {
    content: '';
    width: 100%;
    height: 3px;
    position: absolute;
    bottom: -30px;
    background-color: var(--main-color);
    z-index: 1;
    transition: 0.2s;

}
header .container .hr {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 2px;
    margin: 0 auto;
    background-color: #545455;
}
/* BARS MENU */
header .container .main-bars{
    display: none;
    z-index: 1;
}
@media (max-width:992px){
    .nav {
        display: none;
    }
    header .container .main-bars{
        display: block;
    }   
    header .container .main-bars .box {
        width: 35px;
        height: 22px;
        margin-right: 15px;
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
    }
    header .container .main-bars .box div {
        width: 100%;
        height: 2px;
        background-color: var(--main-color);
    }
    header .container .main-bars .box div:nth-child(2) {
        width: 50%;
        transition: 0.3s;
    }
    header .container .main-bars:hover .box div:nth-child(2) {
        width: 100%;
    }
    header .container .main-bars .content {
        display: none;
    }
    header .container .main-bars:hover .content {
        display: block;
    }
    header .container .main-bars .content ul{
        display: flex;
        flex-wrap: wrap;
        width: 250px;
        height: 200px;
        border-radius: 10px;
        position: absolute;
        background-color: #545455;
        right: 5px;
        top: 75px;
    }
    header .container .main-bars .content ul::after {
        content: '';
        border-color: transparent transparent #545455 transparent;
        border-width: 20px;
        border-style: solid;
        position: absolute;
        top: -39px;
        right: 20px;
    }
    header .container .main-bars .content ul li {
        width: calc(100% / 2);
        height: calc(100% / 3);
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    header .container .main-bars .content ul li:nth-child(odd):before {
        content: '';
        width: 2px;
        height: 100%;
        background-color: var(--sec-color);
        position: absolute;
        right: 0;
    }
    header .container .main-bars .content ul li:not(:nth-child(5), :nth-child(6))::after {
        content: '';
        width: 100%;
        height: 2px;
        background-color: var(--sec-color);
        position: absolute;
        bottom: 0;
    }
}
/* BARS MENU */
.interface {
    padding-top: 190px;
    height: 720px;
    position: relative;
}
.interface .text {
    background-color: var(--back-color);
    width: 70%;
    height: 360px;
    color: white;
    padding-left: 20%;
}

.interface .text h1:first-child {
    padding-top: 50px;
}
.interface .text h1 {
    padding: 5px 0;
    font-weight: 200;
}
.interface .text p {
    width: 80%;
    font-weight: 400;
}
@media (max-width:992px){
    .interface .text {
        padding-left: 10%; 
        width: 80%;
    }
    .interface .text h1 {
        font-size: 26px;
    }
    .interface .text p {
        font-size: 16px;
    }
}
@media (max-width:768px){
    .interface .text {
        width: 100%;
        padding-left: 10px; 
    }
    .interface .arrows i {
        display: none;
    }
}

.interface .arrows i {
    color: white;
    font-size: 35px;
    cursor: pointer;
}
.interface .arrows i:first-child {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}
.interface .arrows i:last-child {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-60%);
}
.interface .circle {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: absolute;
    bottom: 10px;
    width: 100%;

}
.interface .circle div {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--main-color);
    position: relative;
}
.interface .circle div::before {
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 1px solid white;
    position: absolute;
    transform: translate(15px);
}
.interface .circle div::after {
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 1px solid white;
    position: absolute;
    transform: translate(-15px);
}

.services .container .content {
    margin: 0 0 100px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px,1fr));
    row-gap: 20px;
}
@media (max-width:992px) {
    .services .container .content {
        display: grid;
        grid-template-columns: 1fr;
    }
}
.services .container .content div {
    height: 130px;
    padding-left: 80px;
    position: relative;
}
.services .container .content div i{
    font-size: 30px;
    color: var(--sec-color);
    position: absolute;
    top: 10px;
    left: 0;
    opacity: 0.8;
}
.services .container .content div h4 {
    font-size: 22px;
    font-weight: 400;
    color: var(--main-color);
}
.services .container .content div p {
    font-size: 14px;
    line-height: 1.7;
    width: 80%;
}
.phone {
    height: 520px;
    position: relative;
    overflow: hidden;
}
.phone .container img {
    width: 300px;
    position: absolute;
    top: 200px;
    left: 100px;
    opacity: 0.9;
}
.phone .container .specific {
    position: absolute;
    right: 0;
    top: 160px;
    background-color: var(--back-color);
    width: 40%;
    height: 300px;
    z-index: 2;
    padding-left: 60px;
    padding-top: 50px;
    color: white;
}
.phone .container .specific::before {
    content: '';
    width: 100%;
    background-color: var(--back-color);
    height: 300px;
    z-index: 1;
    position: absolute;
    top: 0;
    right: -100%;
}

.phone .container .specific h4 {
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 20px;
    margin-left: -10px;
}
.phone .container .specific div {
    margin-bottom: 20px;
}
.phone .container .specific div i {
    font-size: 18px;
}
.phone .container .specific div p {
    display: inline-block;
    padding-left: 10px;
}
@media (max-width:992px){
    .phone .container img {
        display: none;
    }
    .phone .container .specific{
        width: 100%;
    }
}
.portfolio .buttons {
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
}
.portfolio .buttons p {
    padding: 8px 20px;
    transition: 0.3s;
}
@media (max-width:450px) {
    .portfolio .buttons p{
    padding: 8px 5px;
    }
}
.portfolio .buttons p:hover{
    background-color: var(--main-color);
    border-radius: 5px;
}
.images {
    display: grid;
    grid-template-columns: 1fr 485px 485px 1fr;
    grid-template-rows: repeat(2, 320px);
}
.images div {
    width: calc(100%);
    height: 320px;
    background-color: #4A4B4C;
    position: relative;
}
.images div:first-child {
    grid-column: 2;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}
.images div:nth-child(2){
    grid-column: 4;
}
.images div:nth-child(2) i
,.images div:nth-child(2) div{
    display: none;

}
.images div:nth-child(3){
    grid-column: 1;
    grid-row: 2;
}
.images div:last-child{
    grid-column: 3;
    grid-row: 2;
}
@media (max-width:992px){
    .images {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 320px);
        row-gap: 50px;
    }
    .images div:nth-child(3), .images div:nth-child(4) {
        display: none;
    }
    .images div:first-child {
        grid-column: 1;
    }
    .images div:nth-child(2) {
        grid-column: 1;
        grid-row: 2;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
    }
}
.images div i {
    font-size: 40px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    background-color: var(--main-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80px;
    cursor: pointer;
}
.images div .text {
    width: 100%;
    height: 25%;
    background-color: white;
    color: var(--main-color);
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
    padding-left: 20px;
}
.images div .text h4 {
    color: var(--sec-color);
    font-weight: 400;
    font-size: 25px;
    width: 100%;
}
.break {
    width: 100%;
    height: 150px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.break div {
    font-size: 30px;
    transition: 0.3s;
    padding: 15px 25px;
    border-radius: 10px;
}
.break div:hover {
    background-color: var(--main-color);
}
.video  {
    width: 100%;
    height: 650px;
    display: flex;
    align-items: center;
}
.video > div {
    width: 100%;
    height: 260px;
    background-color: var(--back-color);
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-evenly;
}
.video div h3 {
    width: 100%;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
}
.video div p {
    width: 100%;
    text-align: center;
}
.video div .button {
    transition: 0.3s;
    padding: 10px 20px;
    border-radius: 10px;
}
.video div .button:hover {
    background-color: var(--sec-color);
}
.about {
    position: relative;
}
.about .container .screens {
    width: 100%;
    height: 50vh;
    margin: auto;
    position: relative;
    z-index: -1;
}
.about .container .screens .screen {
    width: 550px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.about .container .screens .phone {
    width: 190px;
    height: auto;
    z-index: 1;
    position: absolute;
    right: 10%;
    top: 80px;
}
.about .container .screens .laptop {
    position: absolute;
    z-index: 1;
    top: 80px;
    left: -35px;
}

.about .acheiv {
    background-color: var(--sec-color);
    overflow: hidden;
    z-index: 3;
    margin-top: -200px;
    display: flex;
    align-items: center;
}
@media (max-width:992px){
    .about .container .screens {
        display: none;
    }
    .about .acheiv {
        margin-top: 0;
    }
}

.about .acheiv .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    row-gap: 10px;
    padding: 20px 5px;
    z-index: 3;
    padding: 80px 0;
    
}
.about .acheiv .container div {
    background-color: var(--back-color);
    padding: 20px 0;
}
@media (max-width:1200px){
    .about .acheiv .container {
        grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
    }
}